.nav {
    /*grid-area: n;*/
    flex: 1;
    padding-left: 15px;
    margin: 63px 0 0 456px;
    max-width: 164px;
}

.item {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    border: none;
    padding: 3px 3px 3px;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 149px;
    font-size: 12.5px;
    box-sizing: border-box;

}
.item a {
    text-decoration: none;
    color: whitesmoke;
    outline: none;

}

.item:hover {
    outline: none;

    background-color: #464545;
    transition: all 0.2s;
}

.item a.active {
    outline: none;

    animation: pulsate 2.5s infinite alternate;;
}
.left_menu {
    display: flex;
    width: 100%;
    align-items: center;

}
.Left_Icon {
    align-items: center;
    margin-right: 10px;
    color: #71aaeb;
    width: 17px;
}