.nav {
    /*grid-area: n;*/
    flex: 1;
    padding-left: 15px;
    margin: 63px 0 0 456px;
    max-width: 164px;
}

.item {
    background-color: #E1E3E6; /* Green */
    border: none;
    padding: 7px 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 149px;
    font-size: 12.5px;
    box-sizing: border-box;
}
.item a {
    text-decoration: none;
    color: #6E6F70;
}

.item:hover {

}

.item a.active {
    animation: pulsate 2.5s infinite alternate;;
}