.app-wrapper {
  margin: 0 auto;
  min-width: 1366px;
  display: flex;
  background-color: #141414;
  min-height: 100vh;

}
.app-wrapper-content {
  flex: 3;
  max-width: 795px;
  position: center;
  margin-top: 63px;
}
.app-wrapper img {
  width: 100%;
}
